aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
albucore==0.0.23
albumentations==1.4.24
annotated-types==0.7.0
async-timeout==5.0.1
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
datasets==2.14.4
dill==0.3.7
filelock==3.29.0
frozenlist==1.8.0
fsspec==2026.4.0
huggingface_hub==0.36.2
idna==3.15
Jinja2==3.1.6
joblib==1.5.3
lightning==2.6.1
lightning-utilities==0.15.3
MarkupSafe==3.0.3
mpmath==1.3.0
multidict==6.7.1
multiprocess==0.70.15
munch==4.0.0
networkx==3.4.2
nltk==3.9.4
-e git+https://github.com/facebookresearch/nougat.git@5a92920d342fb6acf05fc9b594ccb4053dbe8e7a#egg=nougat_ocr
numpy==2.2.6
opencv-python-headless==4.13.0.92
orjson==3.11.9
packaging==26.2
pandas==2.3.3
pillow==12.2.0
propcache==0.5.2
pyarrow==24.0.0
pydantic==2.13.4
pydantic_core==2.46.4
pypdf==6.11.0
pypdfium2==4.18.0
python-dateutil==2.9.0.post0
pytorch-lightning==2.6.1
pytz==2026.2
PyYAML==6.0.3
RapidFuzz==3.14.5
regex==2026.5.9
requests==2.34.0
ruamel.yaml==0.19.1
safetensors==0.7.0
scipy==1.15.3
sconf==0.2.5
sentencepiece==0.2.1
simsimd==6.5.16
six==1.17.0
stringzilla==4.6.1
sympy==1.13.1
timm==0.5.4
tokenizers==0.15.2
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchmetrics==1.9.0
torchvision==0.20.1+cu121
tqdm==4.67.3
transformers==4.38.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
xxhash==3.7.0
yarl==1.23.0
